$secondary-color: #3b312b;

.marque-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.scroll {
    background-color: $secondary-color;
    color: white;
    font-size: 30px;
    overflow: hidden;
    width: 100%;
    // animation: scroll 20s linear infinite;
}

.scroll-2 {
    background-color: $secondary-color;
    color: white;
    font-size: 30px;
    overflow: hidden;
    transform: translateX(100%);
    top: 0;
    position: absolute;
    width: 100%;
    // animation: scroll-next 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-next {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}