<section class="mt-5" style="margin: 0rem 10rem 0rem 10rem">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="fw-bold">OUR ROASTING</h2>
    <p class="p-0 m-0">So many beans and So few hours</p>
    <p class="p-0 m-0">Better latte than never! Always Stay Grounded</p>
  </div>
  <div class="layout">
    <img src="light-roast.png" class="w-100" />
    <p class="fw-bold fs-4">LIGHT ROAST</p>
    <img src="medium-roast.png" class="w-100" />
    <p class="fw-bold fs-4">MEDIUM ROAST</p>
    <img src="dark-roast.png" class="w-100" />
    <p class="fw-bold fs-4">DARK ROAST</p>
    <img src="medium-dark-roast.png" class="w-100" />
    <p class="fw-bold fs-4">MEDIUM-DARK ROAST</p>
  </div>
</section>
